body{
	font-family: 'Lucida Grande';
	background-color: #fff;
}

.main_menu{
	padding: 5px 0 5px 0;
	text-align: center;
	line-height: 36px;
	background-color: #2B2B2B;
}
ul.main_menu{
	margin-top:-10px;
	margin-left: -10px;
	margin-right: -10px;
}
.main_menu li{
	display: inline;
	padding: 80px;
	font-size: 15px;
}
.main_menu a{
	text-decoration: none;
	color: #fff;
}
.main_menu a:hover{
	color: #D0102B;
}
.main_menu b{
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
}
.main_menu b:hover{
	color: #049012;
}
.main_menu c{
	text-decoration: none;
	color: #fff;
}
.main_menu c:hover{
	color: #66BBFF;
}

.home_img1, .home_img2{
	max-width: 100%;
	height: 100%;
	object-position: center;
}

.text-wrapper-sky{
	width: 100%;
	position: relative;
	margin-top: -40%;
}

.text-wrapper-sky h1{
	text-align: center;
	color: #D0102B;
	font-size: 10vw;
}

